.chat {
  height: 250px;
  overflow: hidden;
}

.cabecera,
.enviar {
  height: 25px;
}

.mensaje {
  height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mensaje > div {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #5c7093;
  margin: 1% 1% 0 1%;
  border-radius: 20px;
  max-width: 60%;
}

#derecha {
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

#izquierda {
  border-bottom-left-radius: 0;
}

.mensaje > div > p {
  margin: 2px 0 0 0;
  padding: 0 10px;
  color: #5c7093;
}

.mensaje > div > span {
  font-size: 0.7rem;
  color: #f9f8e6;
  border-radius: 20px 20px 0 0;
  padding: 0 10px;
  background-color: #5c7093;
  align-self: stretch;
  text-align: center;
}

.cabecera {
  background-color: #5c7093;
}

.cabecera img {
  height: 20px;
  width: 20px;
  padding-top: 2px;
  cursor: pointer;
  cursor: pointer;
  cursor: pointer;
  cursor: pointer;
}

.cabecera ul {
  float: right;
  width: 25%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.enviar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #5c7093;
}

.enviar input[type="text"] {
  flex-basis: 80%;
  outline: none;
  color: #5c7093;
  border: none;
  background: transparent;
  padding-left: 10px;
}

.enviar input[type="text"]::placeholder {
  color: rgba(92, 112, 147, 0.5);
}

.enviar input[type="submit"] {
  background-color: #5c7093;
  border: none;
  color: #f9f8e6;
  height: 25px;
}
