nav {
  height: 50px;
  background-color: #47c5c1;
}

nav .img {
  height: 30px;
  width: 30px;
  float: left;
  padding-top: 2.5px;
  padding-left: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
  color: #f9f8e6;
}

nav ul .li {
  padding: 0 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav ul .li:first-child {
  border-right: 1px solid #f9f8e6;
}

nav ul .li:hover {
  color: #5c7093;
}
nav ul .active {
  color: #5c7093;
}
